@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #F6FBFB;
    font-family: "Poppins", sans-serif;
    color: #193C3F;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul, ol {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section--white {
    background-color: #FFFFFF;
}

.section__heading {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 42px;
    line-height: 121%;
    color: #000000;
}

.section__footer {
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.section__footer p {
    margin-right: 36px;
    font-size: 16px;
    line-height: 140%;
    color: #839292;
}

.button {
    height: 48px;
    padding: 0 18px;
    border-radius: 8px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline-offset: 1px;
    transition: 0.05s all ease;
}

.button:hover {
    box-shadow: 0 0 8px #E8EBEB;
}

.button.bg-green:focus {
    outline: 1px solid #3CB27F;
}

.text-green {
    color: #3CB27F;
}

.icon-disc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-right: 16px;
    border-radius: 50%;
}

.info__item {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    line-height: 150%;
}

.bg-green {
    background-color: #3CB27F;
}

.bg-yellow {
    background-color: #FFDB20;
}

.bg-linear {
    background: linear-gradient(90.44deg, #B840E2 0.14%, #594EDB 102.63%), #3CB27F;
}

.skeleton {
    background: linear-gradient(110deg, #FBFCFC 8%, #ffffff 18%, #FBFCFC 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.header {
    padding-top: 25px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 12px;
}

.header__ul {
    display: flex;
    align-items: center;
}

.header__li:not(:last-child) {
    margin-right: 40px;
}

.header__li a {
    font-size: 16px;
    color: #193C3F;
    transition: 0.1s all ease;
}

.header__li a:hover {
    color: #3CB27F;
}

.intro {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: hidden;
}

.intro__inner {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 30px;
    align-items: center;
}

.intro__heading {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 500;
    line-height: 121.5%;
    color: #000000;
}

.intro__heading .text-green {
    margin-right: 10px;
}

.intro__heading img {
    vertical-align: middle;
}

.intro__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 150%;
    color: #657474;
}

.intro__right img {
    width: 100%;
    transform: translateX(30px);
}

.intro__card {
    display: flex;
    min-height: 83px;
    margin-bottom: 12px;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
}

.intro__card p {
    font-size: 18px;
    line-height: 130%;
}

.ticker {
    position: relative;
    z-index: 1;
}

.ticker__line {
    position: absolute;
    left: -1vw;
    width: 102vw;
    height: 50px;
    transform: rotate(-2.6deg) translateY(-1px);
    background-color: #378C67;
    overflow: hidden;
}

.ticker__track {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation-name: ticker;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ticker__item {
    flex-shrink: 0;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

.course-for {
    padding-top: 90px;
}

.course-for .section__heading {
    text-align: center;
}

.course-for__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.course-for__card {
    display: flex;
    align-items: flex-start;
    background-color: #FBFCFC;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 0 18px #eaf7f7;
}

.course-for__icon {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    width: 94px;
    height: 94px;
    margin-right: 24px;
    background: #FFFFFF;
    border-radius: 12px;
}

.course-for__text {
    font-size: 18px;
    line-height: 140%;
}

.course-process {
    padding-bottom: 0;
}

.course-process__inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 18px #EAF7F7);
    border-radius: 24px;
}

.course-process__left {
    padding: 60px 0 60px 60px;
}

.course-process__left .info__item:not(:last-child) {
    margin-bottom: 30px;
}

.course-process__img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.course-process__img img {
    width: 100%;
}

.course-plan {
    padding-bottom: 50px;
}

.course-plan .section__heading {
    text-align: center;
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

.accordion__item {
    background: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
}

.accordion__item:not(:last-child) {
    margin-bottom: 18px;
}

.accordion__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.accordion__number {
    width: 47px;
    height: 47px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #F6FBFB;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    color: #476D6D;
}

.accordion__info {
    flex-grow: 1;
    padding: 4px;
}

.accordion__date {
    font-size: 14px;
    line-height: 120%;
    color: #BAC5C5;
}

.accordion__title {
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    color: #000000;
}

.accordion__icon {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 24px;
    width: 22px;
    height: 22px;
    color: #3CB27F;
    transform-origin: center;
    transition: 0.2s all linear;
}

.accordion__icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 8.5px;
    left: -1.5px;
    width: 22px;
    height: 3px;
    border-radius: 1.5px;
    background: currentColor;
}

.accordion__icon::after {
    display: block;
    position: absolute;
    content: "";
    top: -1px;
    left: 8px;
    width: 3px;
    height: 22px;
    border-radius: 1.5px;
    background: currentColor;
}

.accordion__header[aria-expanded=true] .accordion__icon {
    color: #657474;
}

.accordion__header[aria-expanded=true] .accordion__icon {
    transform: rotate(-45deg);
}

.accordion__header[aria-expanded=true] + .accordion__content {
    max-height: 1000px;
    transition: 600ms all linear;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: 500ms all linear;
}

.accordion__topic {
    display: flex;
    padding: 20px;
    border-top: 1px solid #E8EBEB;
}

.accordion__topic p {
    flex-grow: 1;
    margin-right: 50px;
    line-height: 120%;
}

.accordion__topic span {
    flex-shrink: 0;
    line-height: 120%;
    color: #3CB27F;
}

.course-projects__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.course-projects__card {
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 12px;
}

.course-projects__img {
    width: 100%;
    aspect-ratio: 1.41;
    border-radius: 12px;
    overflow: hidden;
}

.course-projects__img img {
    width: 100%;
    object-fit: cover;
}

.course-projects__title {
    padding-top: 18px;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.course-projects__text {
    padding-top: 18px;
    font-size: 16px;
    line-height: 140%;
    color: #839292;
}

.course-results {
    padding-bottom: 47px;
}

.course-results__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.course-results__inner .info__item {
    margin-bottom: 13px;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
}

.mentor__inner {
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    grid-gap: 70px;
    align-items: center;
}

.mentor__img {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow-x: hidden;
}

.mentor__img img {
    width: 100%;
    vertical-align: middle;
}

.mentor__info .section__heading {
    margin-bottom: 15px;
}

.mentor__subtitle {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 130%;
    color: #657474;
}

.mentor__experience {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mentor__experience div {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #3CB27F;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
}

.mentor__experience p {
    font-size: 18px;
    line-height: 130%;
    color: #657474;
}

.mentor__info .info {
    padding-top: 40px;
}

.mentor__info .info__item {
    padding: 18px;
    background-color: #FBFCFC;
    border-radius: 8px;
}

.mentor__info .info__item:not(:last-child) {
    margin-bottom: 14px;
}

.salaries__inner {
    display: grid;
    grid-template-columns: 1.32fr 1fr;
    grid-gap: 70px;
}

.salaries__left p {
    font-size: 18px;
    line-height: 150%;
    color: #657474
}

.salaries__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    margin-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #FFFFFF;
    border-radius: 18px;
    filter: drop-shadow(0px 0px 18px #EAF7F7);
}

.salaries__level {
    display: flex;
    align-items: center;
}

.salaries__level img {
    margin-right: 12px;
}

.salaries__level div {
    font-size: 18px;
}

.salaries__value {
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}

.salaries .section__footer {
    justify-content: flex-end;
}
