@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #F6FBFB;
    font-family: "Poppins", sans-serif;
    color: #193C3F;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul, ol {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section--white {
    background-color: #FFFFFF;
}

.section__heading {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 42px;
    line-height: 121%;
    color: #000000;
}

.section__footer {
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.section__footer p {
    margin-right: 36px;
    line-height: 140%;
    color: #839292;
}

.button {
    height: 48px;
    padding: 0 18px;
    border-radius: 8px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline-offset: 1px;
    transition: 0.05s all ease;
    white-space: nowrap;
}

.button:hover {
    box-shadow: 0 0 8px #E8EBEB;
}

.button.bg-green:focus {
    outline: 1px solid #3CB27F;
}

.button.bg-linear:focus {
    outline: 1px solid #B840E2;
}

.hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger__line {
    width: 30px;
    height: 2px;
    border-radius: 1.5px;
    background-color: #FFFFFF;
}

.hamburger__line:not(:last-child) {
    margin-bottom: 4px;
}

#menu-close {
    display: none;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: auto;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline-offset: 1px;
    transition: 0.05s all ease;
    background: linear-gradient(90.44deg, #B840E2 0.14%, #594EDB 102.63%), #3CB27F;
}

#menu-close:focus {
    outline: 1px solid #B840E2;
}

.text-green {
    color: #3CB27F;
}

.icon-disc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-right: 16px;
    border-radius: 50%;
}

.info__item {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    line-height: 150%;
}

.bg-green {
    background-color: #3CB27F;
}

.bg-yellow {
    background-color: #FFDB20;
}

.bg-linear {
    background: linear-gradient(90.44deg, #B840E2 0.14%, #594EDB 102.63%), #3CB27F;
}

.skeleton {
    background: linear-gradient(110deg, #FBFCFC 8%, #ffffff 18%, #FBFCFC 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.header {
    padding-top: 25px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 12px;
}

.header__ul {
    display: flex;
    align-items: center;
}

.header__li:not(:last-child) {
    margin-right: 40px;
}

.header__li a {
    color: #193C3F;
    transition: 0.1s all ease;
}

.header__li a:hover {
    color: #3CB27F;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.intro {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: hidden;
}

.intro__inner {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 30px;
    align-items: center;
}

.intro__heading {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 500;
    line-height: 121.5%;
    color: #000000;
}

.intro__heading .text-green {
    margin-right: 10px;
}

.intro__heading img {
    vertical-align: middle;
}

.intro__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 150%;
    color: #657474;
}

.intro__right img {
    width: 100%;
    transform: translateX(30px);
}

.intro__card {
    display: flex;
    min-height: 83px;
    margin-bottom: 12px;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
}

.intro__card p {
    font-size: 18px;
    line-height: 130%;
}

.ticker {
    position: relative;
    z-index: 1;
}

.ticker__line {
    position: absolute;
    left: -1vw;
    width: 102vw;
    height: 50px;
    transform: rotate(-2.6deg) translateY(-1px);
    background-color: #3CB27F;
    overflow: hidden;
}

.ticker__track {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation-name: ticker;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ticker__item {
    flex-shrink: 0;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

.course-for {
    padding-top: 90px;
}

.course-for .section__heading {
    text-align: center;
}

.course-for__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.course-for__card {
    display: flex;
    align-items: flex-start;
    background-color: #FBFCFC;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 0 18px #eaf7f7;
}

.course-for__icon {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    width: 94px;
    height: 94px;
    margin-right: 24px;
    background: #FFFFFF;
    border-radius: 12px;
}

.course-for__text {
    font-size: 18px;
    line-height: 140%;
}

.course-process {
    padding-bottom: 0;
}

.course-process__inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 18px #EAF7F7);
    border-radius: 24px;
}

.course-process__left {
    padding: 60px 0 60px 60px;
}

.course-process__left .info__item:not(:last-child) {
    margin-bottom: 30px;
}

.course-process__img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.course-process__img img {
    width: 100%;
}

.course-plan {
    padding-bottom: 50px;
}

.course-plan .section__heading {
    text-align: center;
}

.accordion__item {
    background: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
}

.accordion__item:not(:last-child) {
    margin-bottom: 18px;
}

.accordion__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.accordion__number {
    flex-shrink: 0;
    width: 47px;
    height: 47px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #F6FBFB;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    color: #476D6D;
}

.accordion__info {
    flex-grow: 1;
    padding-top: 4px;
    padding-right: 40px;
}

.accordion__date {
    font-size: 14px;
    line-height: 120%;
    color: #BAC5C5;
}

.accordion__title {
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    color: #000000;
}

.accordion__icon {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 24px;
    transform-origin: center;
    transition: 0.2s all linear;
}

.accordion__header[aria-expanded=true] .accordion__icon {
    transform: rotate(-45deg);
}

.accordion__header[aria-expanded=true] + .accordion__content {
    max-height: 2000px;
    transition: 600ms all linear;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: 500ms all linear;
}

.accordion__topic {
    display: flex;
    padding: 20px;
    border-top: 1px solid #E8EBEB;
}

.accordion__topic p {
    flex-grow: 1;
    line-height: 120%;
}

.accordion__topic span {
    display: block;
    width: 80px;
    flex-shrink: 0;
    line-height: 120%;
    color: #3CB27F;
}

.splide__track {
    overflow: visible;
}

.splide__arrow {
    width: 50px;
    height: 50px;
    background-color: #3CB27C;
}

.splide__arrow svg {
    fill: white;
}

.splide__arrow--prev {
    left: -25px;
}

.splide__arrow--next {
    right: -25px;
}

.course-projects__card {
    height: 100%;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 12px;
}

.course-projects__img {
    width: 100%;
    aspect-ratio: 1.41;
    border-radius: 12px;
    overflow: hidden;
}

.course-projects__img img {
    width: 100%;
    object-fit: cover;
}

.course-projects__title {
    padding-top: 18px;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.course-projects__text {
    padding-top: 18px;
    line-height: 140%;
    color: #839292;
}

.course-results {
    padding-bottom: 47px;
}

.course-results__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.course-results__inner .info__item {
    margin-bottom: 13px;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
}

.mentor__inner {
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    grid-gap: 70px;
    align-items: center;
}

.mentor__img {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow-x: hidden;
}

.mentor__img img {
    width: 100%;
    vertical-align: middle;
}

.mentor__info .section__heading {
    margin-bottom: 15px;
}

.mentor__subtitle {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 130%;
    color: #657474;
}

.mentor__experience {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mentor__experience div {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #3CB27F;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
}

.mentor__experience p {
    font-size: 18px;
    line-height: 130%;
    color: #657474;
}

.mentor__info .info {
    padding-top: 40px;
}

.mentor__info .info__item {
    padding: 18px;
    background-color: #FBFCFC;
    border-radius: 8px;
}

.mentor__info .info__item:not(:last-child) {
    margin-bottom: 14px;
}

.salaries__inner {
    display: grid;
    grid-template-columns: 1.32fr 1fr;
    grid-gap: 70px;
}

.salaries__left p {
    font-size: 18px;
    line-height: 150%;
    color: #657474
}

.salaries__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    margin-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #FFFFFF;
    border-radius: 18px;
    filter: drop-shadow(0px 0px 18px #EAF7F7);
}

.salaries__level {
    display: flex;
    align-items: center;
}

.salaries__level img {
    margin-right: 12px;
}

.salaries__level div {
    font-size: 18px;
}

.salaries__value {
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}

.salaries .section__footer {
    justify-content: flex-end;
}

.feedback .section__heading {
    text-align: center;
}

.feedback__card {
    height: 100%;
    max-height: 300px;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7;
    border-radius: 18px;
    overflow: auto;
}

.feedback__author {
    display: flex;
    align-items: center;
}

.feedback__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F6FBFB;
    margin-right: 10px;
    flex-shrink: 0;
}

.feedback__icon img {
    width: 80%;
}

.feedback__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #000000;
}

.feedback__text {
    padding-top: 12px;
    line-height: 130%;
    color: #657474;
}

.faq .section__heading {
    text-align: center;
}

.faq .accordion__header {
    align-items: center;
}

.faq .accordion__topic {
    padding: 0 20px 20px 20px;
    border-top: none;
}

.price__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #EAF7F7, 0 0 18px #EAF7F7;
    border-radius: 24px;
}

.price__heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 130%;
    color: #000000;
}

.price__left p {
    margin-bottom: 18px;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: #657474;
}

.price__left img {
    display: block;
    width: 80%;
    margin: 0 auto 18px;
}

.price__left div {
    line-height: 150%;
    color: #839292;
}

.price__right .price__heading {
    margin-bottom: 48px;
}

.more {
    position: relative;
    margin-bottom: 40px;
    padding: 30px 28px 8px;
    border: 1px dashed #BAC5C5;
    border-radius: 12px;
}

.more__heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    margin: 0;
    padding: 8px 25px;
    background-color: #FFFFFF;
    border: 1px dashed #BAC5C5;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.more__li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 130%;
}

.more__li:not(:last-child) {
    border-bottom: 1px dashed #BAC5C5;;
}

.more__li div:nth-child(2) {
    text-align: right;
    color: #657474;
}

.discount__heading {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #000000;
}

.discount__heading strong {
    color: #933CB2;
}

.discount__info {
    padding: 24px;
    background: rgba(60, 178, 127, 0.07);
    border: 1px dashed #3CB27F;
    border-radius: 12px;
}

.discount__numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 18px;
    color: #2C3431;
}

.discount__numbers del {
    display: block;
    line-height: 130%;
    color: #A5C1B5;
    text-decoration-line: line-through;
}

.discount__numbers strong {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #148A57;
}

.discount__info .button {
    width: 100%;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-bottom: 20px;
    color: #91A19B;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__socials a {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 4;
    width: 300px;
    max-width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: #fff;
    overflow: auto;
    transition: 0.3s all ease-out;
}

#mobile-menu-close {
    margin-right: 0;
    margin-left: auto;
    padding: 10px;
    border: none;
}

.mobile-menu__ul {
    padding: 10px;
}

.mobile-menu__li:not(:last-child) {
    border-bottom: 1px solid #FBFCFC;
}

.mobile-menu__li a {
    display: block;
    padding: 15px 5px;
    color: #193C3F;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

.enroll-backdrop {
    position: fixed;
    top: -1000vh;
    right: 0;
    height: 100vh;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px 0;
    overflow: auto;
}

.enroll-backdrop.open {
    top: 0;
}

.enroll-content {
    max-width: 100%;
    width: 500px;
    padding: 32px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.enroll-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.enroll-header h2 {
    font-size: 20px;
    font-weight: 500;
}

.enroll-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 7px;
    border: 1px solid #3CB27F;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
}

.enroll-hint {
    font-size: 12px;
    color: #839292;
}

.enroll-loading {
    position: absolute;
    top: 200px;
    left: 50%;
    max-width: 300px;
    text-align: center;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1366px) {
    body {
        font-size: 14px;
    }

    .container {
        max-width: 1100px;
    }

    .button {
        height: 40px;
        padding: 0 14px;
    }

    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section__footer p {
        margin-right: 24px;
    }

    .section__heading {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .header__inner {
        padding: 16px;
    }

    .header__logo {
        width: 70px;
    }

    .intro__heading {
        font-size: 50px;
        margin-bottom: 16px;
    }

    .intro__heading img {
        width: 60px;
    }

    .intro__inner {
        grid-template-columns: 1fr 1fr;
    }

    .intro__text {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .intro__card {
        padding: 16px;
    }

    .ticker__line {
        height: 45px;
    }

    .course-for {
        padding-top: 70px;
    }

    .course-for__card {
        padding: 20px;
    }

    .course-for__icon {
        width: 80px;
        height: 80px;
        margin-right: 18px;
        padding: 10px;
    }

    .course-process__left {
        padding: 40px 0 40px 40px;
    }

    .accordion__header {
        padding: 16px;
    }

    .accordion__number {
        width: 40px;
        height: 40px;
        margin-right: 14px;
        font-size: 18px;
        line-height: 40px;
    }

    .accordion__date {
        font-size: 12px;
    }

    .accordion__title {
        padding-top: 2px;
    }

    .accordion__icon {
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
    }

    .accordion__topic {
        padding: 16px;
    }

    .course-projects__card {
        padding: 18px;
    }

    .course-projects__title {
        padding-top: 16px;
    }

    .feedback__text {
        font-size: 14px;
    }

    .price__inner {
        padding: 40px;
    }

    .price__heading {
        font-size: 24px;
    }

    .ticker__item,
    .intro__card p,
    .course-for__text,
    .info__item,
    .course-projects__title,
    .mentor__subtitle,
    .mentor__experience p,
    .salaries__left p,
    .salaries__level div,
    .salaries__value,
    .feedback__name,
    .price__left p,
    .discount__heading,
    .discount__numbers,
    .accordion__title {
        font-size: 16px;
    }

    .more {
        padding: 24px 20px 6px
    }

    .discount__info {
        padding: 18px;
    }

    .discount__numbers strong {
        font-size: 20px;
    }

    .footer__logo {
        width: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1060px) {
    .container {
        max-width: 900px;
    }

    .section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header {
        position: sticky;
        z-index: 2;
        top: 0;
        padding: 0;
        background-color: #fff;
        box-shadow: 0 0 18px #EAF7F7;
    }

    .header__inner {
        padding: 16px 0;
        box-shadow: none;
    }

    .header__nav {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-left: 10px;
        padding: 0 10px;
    }

    .intro__inner {
        display: block;
    }

    .intro__right {
        display: none;
    }

    .intro__heading {
        font-size: 40px;
    }

    .intro__heading img {
        width: 50px;
    }

    .intro__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .intro__card {
        margin-bottom: 0;
    }

    .course-for {
        padding-top: 60px;
    }

    .mentor__inner {
        align-items: start;
        grid-gap: 40px;
    }

    .price__heading {
        margin-bottom: 18px;
    }

    .price__right .price__heading {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 970px) {
    .container {
        max-width: 800px;
    }

    .course-process__inner {
        grid-template-columns: 1fr;
    }

    .course-process__left {
        padding: 24px 32px;
    }

    .course-process__img {
        display: none;
    }

    .course-process__left .info__item:not(:last-child) {
        margin-bottom: 16px;
    }

    .mentor__inner {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    .mentor__img {
        width: 60%;
        margin: 0 auto;
    }

    .mentor__subtitle {
        text-align: center;
    }

    .mentor__info .section__heading {
        margin-bottom: 5px;
        text-align: center;
    }

    .mentor__experience {
        justify-content: center;
    }

    .mentor__info .info {
        padding-top: 20px;
    }

    .salaries__inner {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    .price__inner {
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }

    .footer__inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__inner p {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 720px) {
    .icon-disc {
        width: 30px;
        height: 30px;
        margin-right: 12px;
        padding: 5px;
    }

    .intro__heading {
        font-size: 36px;
        margin-bottom: 12px;
    }

    .intro__text {
        margin-bottom: 16px;
    }

    .intro__cards {
        grid-template-columns: 1fr;
    }

    .intro__card {
        justify-content: space-between;
        padding: 12px;
    }

    .intro__card p {
        order: -1;
    }

    .intro__card .icon-disc {
        margin-right: 0;
        margin-left: 12px;
    }

    .section__heading {
        font-size: 32px;
    }

    .course-for__cards {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }

    .course-for__card {
        padding: 12px;
    }

    .course-process__left {
        padding: 16px;
    }

    .accordion__item:not(:last-child) {
        margin-bottom: 12px;
    }

    .course-projects__card {
        padding: 12px;
    }

    .accordion__header {
        padding: 12px;
    }

    .course-results__inner {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .course-results__inner .info__item {
        padding: 12px;
    }

    .mentor__info .info__item {
        padding: 12px;
    }

    .mentor__info .info__item:not(:last-child) {
        margin-bottom: 12px;
    }

    .feedback__card {
        padding: 12px;
    }

    .price__inner {
        padding: 24px 32px;
    }

    .more {
        margin-bottom: 20px;
    }

    .more__heading {
        font-size: 14px;
    }

    .discount__info {
        padding: 12px;
    }

    .enroll-backdrop {
        padding: 0;
    }

    .enroll-content {
        width: 100%;
        height: 100%;
        padding: 36px 20px;
        overflow: auto;
        border-radius: 0;
    }
}

@media screen and (max-width: 560px) {
    .more__li {
        align-items: flex-start;
    }

    .more__li div:nth-child(2) {
        margin-left: 20px;
        white-space: nowrap;
    }

    .price__inner {
        padding: 24px 16px;
    }
}

@media screen and (max-width: 450px) {
    .section__footer p {
        margin-bottom: 12px;
    }
}
